/* application des paramètres à tous les headers sans passer par l'ID car ils sont les mêmes sur toutes les pages */
header {
    background-color: #b090f4;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display:flex;


    /* nav */
    order: 2;
    overflow:inherit;

    background-color: #6d43c8;
    align-self:center;
    align-items: center;
    flex-wrap: wrap;

    /* inherited from navbar */
    padding: 0px 0px 0px 0px;
    margin: 0px;
    /*text-align: center;*/
    /* display:inline-block; */
    /*vertical-align:top;*/
}

header nobr {
    list-style: none;
    align-self:center;

    list-style-type: none;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;

    padding: .5em .5em;
    margin: .3em;
    background-color: #b090f4;
    font-family: 'Kanit';
    text-transform: uppercase;
    border-radius: 30px;
}

header nobr a, header nobr div button {
    /*padding: 20px 20px 20px 20px;*/
    color: rgb(128, 85, 59);
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 0px;
    padding: 11px 5px;
}

header nobr:hover {
    background-color: #dcd1f4;
}
/*
header nobr a:hover {
    background-color: #dcd1f4;
}
*/
body{
    padding: 0;
    margin: 0;
    font-family: 'Kanit';
}
a{
    text-decoration: none;
    color:rgb(128, 85, 59);
}

.material-icons{
    vertical-align: text-top;
    font-size: 18px !important;
}

.element{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    background-image: url(Images_H/haut_de_page.png);
    font-size: 125%;
    align-items: baseline;
    height: 175px;
    width: 100%;
    position: fixed;
}
.img_acc, .img_acc img{ /* propriétés de l'image et de sa hitbox */
    width: 145px;
    height: 80px;
    align-self: flex-start;
}

#icon{
    width: 25px;
    height: 25px;
}
#deroulant{
    display: flex;
    flex-direction: row;
    padding-top: 160px;
    scroll-margin-top: 160px;
}
.rech_menu{
    padding: .5em 1em;
    margin: .3em;
    background-color: #b090f4;
    font-family: 'Kanit';
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}

.cont_menu:hover , .rech_menu:hover{
    background-color: #dcd1f4 ;
}

.cont_menu{
    padding: .5em 1em;
    margin: .3em;
    background-color: #b090f4;
    font-family: 'Kanit';
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}

#button1{
    padding: 1em;
    border-style: solid;
    border-color: rgb(50, 55, 59);
    background-color: #8759EA;
    margin : .5em 4em .5em 4em;
}

html {
    background-color: #D1C0F7;
}


#desc{
    padding: 1em;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 95%;
    padding-top : 1em;
    padding-bottom: 1em;
    background-color: #8759EA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

h3{
    color: black;
}

p_1 , p_2{
    color: white;
    font-size: smaller;
    
}

div_Nantes{
    box-sizing:border-box;
    text-align: center;
    border-style: double;
    border-color: black;
    padding: 1em;
    border-radius: 25%;
}

div_Caen{
    box-sizing:border-box;
    text-align: center;
    border-style: double;
    border-color: black;
    padding: 1em;
    border-radius: 25%;
}

div_Rennes{
    box-sizing:border-box;
    text-align: center;
    border-style: double;
    border-color: black;
    padding: 1em;
    border-radius: 25%;
}

div_Brest{
    box-sizing:border-box;
    text-align: center;
    border-style: double;
    border-color: black;
    padding: 1em;
    border-radius: 25%;
}

div_Dev{
    box-sizing:border-box;
    text-align: center;
    border-style: double;
    border-color: black;
    padding: 1em;
    border-radius: 25%;
}

.sous_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lien_linkedin_Clem{
    width: 20px;
    height: 20px;
}

.lien_linkedin_Am{
    width: 20px;
    height: 20px;
}

p_3{
    font-size: 15px;

}

#barre_vert{
    border-style:  none solid none none;
    border-color: rgb(31, 30, 30);
    padding: 0.3em;
}

a:visited{
    color: rgb(128, 85, 59);
}

a:hover{
    color: rgb(69, 68, 52);
}

.num:link{
    color: rgb(128, 85, 59);
}

img{
    width: 25px;
    height: 25px;
}

#competence{
    width: 60%;
    height: auto;
    border : 4px solid #8759EA;
}

/*main{
    padding-top: 10px;
    scroll-margin-top: 10px;
}*/

#actu , li{
    padding-left: 1em;
}

#clock {
    font-size: 15px;
    width: 50px;
    margin: 20px;
    text-align: center;
    text-shadow: #d8232a;
    border: 2px solid black;
    border-radius: 10px;
}

/* Menus de recherche du navbar */

.dropbtn{
    background-color: transparent;
    color: rgb(128, 85, 59);
    padding: 0px 10px 5px 10px;
    font-size: 16px;
    font-family: 'Kanit', "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 0px;
    border: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 5px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #dcd1f4;
}