body{
    padding: 0;
    margin: 0;
    font-family: 'Kanit';
}
a{
    text-decoration: none;
    color:rgb(128, 85, 59);
}

.rech_menu{
    padding: .5em 1em;
    margin: .3em;
    background-color: #b090f4;
    font-family: 'Kanit';
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}

#button1{
    padding: 1em;
    border-style: solid;
    border-color: rgb(50, 55, 59);
    background-color: #8759EA;
    margin : .5em 4em .5em 4em;
}

html {
    background-color: #D1C0F7;
}


#desc{
    padding: 1em;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 95%;
    padding-top : 1em;
    padding-bottom: 1em;
    background-color: #8759EA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

h3{
    color: black;
}

p_1 , p_2{
    color: white;
    font-size: smaller;
    
}

div_Nantes{
    box-sizing:border-box;
    text-align: center;
    border-style: double;
    border-color: black;
    padding: 1em;
    border-radius: 25%;
}

div_Caen{
    box-sizing:border-box;
    text-align: center;
    border-style: double;
    border-color: black;
    padding: 1em;
    border-radius: 25%;
}

div_Rennes{
    box-sizing:border-box;
    text-align: center;
    border-style: double;
    border-color: black;
    padding: 1em;
    border-radius: 25%;
}

div_Brest{
    box-sizing:border-box;
    text-align: center;
    border-style: double;
    border-color: black;
    padding: 1em;
    border-radius: 25%;
}

div_Dev{
    box-sizing:border-box;
    text-align: center;
    border-style: double;
    border-color: black;
    padding: 1em;
    border-radius: 25%;
}

.sous_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lien_linkedin_Clem{
    width: 20px;
    height: 20px;
}

.lien_linkedin_Am{
    width: 20px;
    height: 20px;
}

p_3{
    font-size: 15px;

}

#barre_vert{
    border-style:  none solid none none;
    border-color: rgb(31, 30, 30);
    padding: 0.3em;
}

a:visited{
    color: rgb(128, 85, 59);
}

a:hover{
    color: rgb(69, 68, 52);
}

.num:link{
    color: rgb(128, 85, 59);
}

img{
    width: 25px;
    height: 25px;
}

#competence{
    width: 60%;
    height: auto;
    border : 4px solid #8759EA;
}

/*main{
    padding-top: 10px;
    scroll-margin-top: 10px;
}*/

#actu , li{
    padding-left: 1em;
}